*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-weight: normal;
}

body {
  padding: 0;
  margin: 0;
  background-color: black;
}
.container {
  display: grid;
  justify-content: center;
  min-height: 100vh;
}
.calculator-grid {
  display: grid;
  justify-content: center;
  align-items: left;
  align-content: center;
  min-height: 100vh;

  grid-template-columns: repeat(4, 100px);
  grid-template-rows: minmax(120px, auto) repeat(5, 100px);
  background-color: black;
  border: 1px solid gray;
  border-radius: 20px;
}

.calculator-grid > button {
  font-size: 2rem;
  cursor: pointer;
  outline: none;
  border-radius: 200px;
  margin: 5%;
  border: none;
}

/* .calculator-grid > button:hover {
  background-color: rgba(255, 255, 255, 0.35);
} */

.output {
  grid-column: 1 / -1;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  flex-direction: column;
  padding: 10px;
  color: #fff;
  word-wrap: break-word;
  word-break: break-all;
}
.output .previous {
  color: rgba(255, 255, 255, 0.75);
  font-size: 1.5rem;
}

.output .current {
  color: #fff;
  font-size: 2.5rem;
}

#zero {
  grid-column: span 2;
  align-content: left;
}
.numbers {
  background-color: #505050;
  color: #fff;
}
.numbers:hover {
  /* background-color: rgba(255, 255, 255, 0.35); */
  background-color: #fff;
  color: #505050;
}
.operators {
  background-color: #ff9500;
  color: #fff;
}
.operators:hover {
  background-color: #fff;
  color: #ff9500;
}

.actions {
  background-color: #d4d4d2;
  color: black;
}
.actions:hover {
  background-color: #f5f5f4;
  color: black;
}

@media only screen and (max-width: 400px) {
  .calculator-grid {
    grid-template-columns: repeat(4, 90px);
    grid-template-rows: minmax(120px, auto) repeat(5, 100px);
  }
  .calculator-grid > button {
    border-radius: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 10px;
  }
}

/*
* {
  padding: 0;
  margin: 0;
  box-sizing: 0;
  outline: 0;
  transition: all 0.5s ease;
}

body {
  font-family: "Courier New", Courier, monospace;
}
a {
  text-decoration: none;
  color: #fff;
}
body {
  background-color: blueviolet;
}
.container {
  height: 100vh;
  width: 100vw;
  display: grid;
  place-items: center;
}

.calculator {
  position: relative;
  height: auto;
  width: auto;
  padding: 10%;
  border-radius: 20px;
  box-shadow: 0 0 30px black;
}

.theme-toggler {
  position: absolute;
  top: 30px;
  right: 30px;
  color: #fff;
  cursor: pointer;
  z-index: 1;
}
.theme-toggler.active {
  background-color: #fff;
}

.theme-toggler::before {
  content: "";
  height: 30px;
  width: 30px;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  background-color: #333;
  z-index: -1;
}

#display {
  margin: 0 10px;
  height: 150px;
  width: auto;
  max-width: 270px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  font-size: 30px;
  margin-bottom: 20px;
  overflow-x: scroll;
}

#display::-webkit-scrollbar {
  display: block;
  height: 3px;
}

button {
  height: 60px;
  width: 60px;
  border-radius: 30px;
  margin: 4px;
  font-size: 20px;
  cursor: pointer;
  transition: all 200ms ease;
  box-shadow: none;
}
button:hover {
  transform: scale(1.1);
}
button#zero {
  width: 130px;
}

/* Light Theme*/
/*
.calculator {
  background-color: #fff;
}
.calculator#display {
  color: #333;
}
.calculator button#clear {
  background-color: #d4d4d2;
}
.calculator button#backspace {
  background-color: #d4d4d2;
}
.calculator button#divide {
  background-color: #d4d4d2;
}

.calculator button.btn-operator {
  background-color: #ff9500;
}
.calculator button#equals {
  background-color: #ff9500;
}
*
/* Dark Theme*/
/*
.calculator.dark {
  background-color: #1c1c1c;
}

.calculator.dark #display {
  color: #fff;
}

.calculator.dark button#clear {
  background-color: #d4d4d2;
  color: black;
}
.calculator.dark button#backspace {
  background-color: #d4d4d2;
  color: black;
}
.calculator.dark button#divide {
  background-color: #d4d4d2;
  color: black;
}
.calculator button#equals {
  background-color: #ff9500;
  color: #fff;
}

.calculator.dark button.btn-operator {
  background-color: #ff9500;
  color: #fff;
}

.calculator.dark button.btn-number {
  background-color: #505050;
  color: #fff;
}
.calculator.dark button#zero {
  background-color: #505050;
  color: #fff;
}
*/
